<nav class="navbar navbar-default navbar-fixed-top" color-on-scroll="500">
  <div class="container">
    <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
        </button>
        <a href="#" class="navbar-brand">
            Angelo Jimenez
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right navbar-uppercase">
            <%= nav_helper 'li' %>

            <button class="btn btn-fill btn-black btn-round"><%= login_helper 'navlinks' %></button>
        </ul>
      </div>
  </div>
</nav>
