<!-- footer -->
<div class="section section-contact">
  <div class="container">
    <div class="text-area">
      <div class="title">
        <h2>Subscribe to Newsletter</h2>
        <div class="separator separator-black">✻</div>
        <h5 class="text-gray">We are so blessed! All praises and blessings to the families of people who never gave up on dreams I love you guys.</h5>
      </div>

      <div class="contact-form">
        <form action="" method="post">
          <div class="row">
            <div class="col-md-12 text-center">

              <%= paginate @blogs, class:"btn btn-outline-black" %>

            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
