<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
      <hr>
          <div class="copyright">
               © <%= Date.today.year %> Angelo Jimenez
          </div>
    </div>
</footer>
