<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
      <hr>
          <div class="copyright">
               <%= copyright_generator %>
          </div>
    </div>
</footer>
