<!-- masthead -->
<section class="jumbotron text-center">
     <div class="portfolio-form container ">
       <h1 class="jumbotron-heading">My Projects</h1>
       <p class="lead text-muted">Some of my projects as I was progressing to understand full stack development.</p>
       <p>

         <%= link_to 'Find Out More', about_me_path, class: "btn btn-fill btn-info" %>
         <%= link_to 'My Blog', blogs_path, class: "btn btn-black" %>

       </p>
     </div>
   </section>
