<div class="section section-header section-header-about">
  <div class="parallax filter filter-color-black">

    <%= image_tag "project-6.jpg" %>

    <div class="container">
      <div class="content">
        <h1>Isolate the behavior of APIs</h1>
        <h3 class="subtitle">Tweets from around the world</h3>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h2>Live Twitter Feed</h2>
        <div class="separator separator-danger">✻</div>
      </div>
    </div>
    <div class="album text-muted">
      <div class="tech-form container">
        <div class="row">
          <% @tweets.each do |tweet| %>
            <div class="col-md-6">

              <div class="tech-card card">
                <%= twitter_parser tweet %>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
